; Let's include some modules....
include-file = $XDG_CONFIG_HOME/polybar/colours.ini
{% for module in polybar_modules %}
include-file = $XDG_CONFIG_HOME/polybar/{{ module }}
{% endfor %}


[settings]
format-padding = 1
screenchange-reload = true


[global/wm]
margin-top = 0
margin-bottom = 0


[bar/da-bar]
background = ${colours.transparent}
foreground = ${colours.foreground}

enable-ipc = true
tray-background = ${colors.background-alt}
tray-position = center
tray-maxsize = 6
pseudo-transparency = false

{# font-0 = "NotoSans-Regular:size=10;0"
font-1 = "Material Icons:size=14;0"
font-2 = "Noto Sans CJK SC:size=10;0"
font-4 = "NotoColorEmoji:fontformat=truetype:scale=10:antialias=false;" #}
font-0 = "mononoki Nerd Font:size=11;0"
;font-0 = "JetBrainsMono Nerd Font:style=Medium:size=10;2"
font-1 = "JetBrainsMono Nerd Font:style=Bold:size=10;2"
font-2 = "JetBrainsMono Nerd Font:size=19;5"
font-3 = "Material Icons Outlined:10;4"
font-4 = "Material Icons:10;4"
font-5 = "Noto Sans CJK SC:size=10;0"


fixed-center = true


width = 100%
height = 30
radius = 0.0
underline-size = 3

cursor-click = pointer
cursor-scroll = ns-resize

wm-restack = bspwm

{% set battery = " battery " if (has_battery is defined and has_battery) else " " -%}
{% set fcitx = "fcitx " if (input_method is defined and input_method == "fcitx") else "" -%}
{% set ibus = "ibus " if (input_method is defined and input_method == "ibus") else "" -%}

modules-left = bspwm xwindow round-right
modules-center = round-left date round-right
modules-right = round-left xkeyboard {{ fcitx }}{{ ibus }}pulseaudio updates cpu memory{{ battery }}powermenu
;modules-right = filesystem xkeyboard memory cpu ethernet battery temperature powermenu


[module/ibus]
type = custom/script
exec = polylang
label = %output%
format-prefix = " "
interval = 1


[module/pulseaudio]
type = internal/pulseaudio
format-volume = <ramp-volume> <label-volume>
interval = 5
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
label-muted =  muted


[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-underline = #f50a4d
format-warn = <ramp> <label-warn>
format-warn-underline = ${self.format-underline}

label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colours.secondary}

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-foreground = ${colours.foreground-alt}
