#! /bin/bash

[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresource

bspc monitor -d I II III IV V VI VII VIII IX X

bspc config border_width         2
bspc config window_gap          10

bspc config split_ratio          0.52
bspc config borderless_monocle   true
bspc config gapless_monocle      true

{% for display in displays %}
xrandr --output {{ display.name }} --mode {{ display.resolution }}
{% endfor %}

{% if ansible_distribution == "Archlinux" %}
picom &
{% else %}
compton &
{% endif %}

{% if is_vm is defined and is_vm %}
{% if ansible_virtualization_type == "kvm" %}
spice-vdagent
{% elif  ansible_virtualization_type == "virtualbox" %}
VBoxClient --clipboard -d &
{% endif %}
{% endif %}
nitrogen --restore
dunst &
sxhkd &
"${XDG_CONFIG_HOME}/polybar/launch.sh"
