[global_config]
  borderless = True
  title_transmit_fg_color = "{{ colour_palette.foreground }}"
  title_transmit_bg_color = "{{ colour_palette.background }}"
  title_inactive_fg_color = "{{ colour_palette.foreground }}"
  title_inactive_bg_color = "#555555"
[keybindings]
[profiles]
  [[default]]
    palette = "#121212:#fa2573:#98e123:#dfd460:#1080d0:#8700ff:#43a8d0:#bbbbbb:#555555:#f6669d:#b1e05f:#fff26d:#00afff:#af87ff:#51ceff:#ffffff"
    foreground_color = "{{ colour_palette.foreground }}"
    background_color = "{{ colour_palette.background }}"
    cursor_color = "{{ colour_palette.cursor }}"
    icon_bell = False
    background_darkness = 0.90
    background_type = transparent
    font = {{ fonts.preferred.name }} {{ fonts.preferred.size }}
    show_titlebar = False
    scrollbar_position = hidden
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
