[options]
font = {{ fonts.preferred.name }} {{ fonts.preferred.size }}
clickable_url = false
{# {% for font in terminals.termite.fonts %}
 font = {{ font.name }} {{ font.size }}
{% endfor %} #}

[colors]
# special
cursor     = {{ colour_palette.cursor }}
# background = {{ colour_palette.background }}
background = rgba({{ "%d" | format(colour_palette.background[1:3] | int(10, 16)) }}, {{ "%d" | format(colour_palette.background[3:5] | int(10, 16)) }}, {{ "%d" | format(colour_palette.background[5:] | int(10, 16)) }}, 0.95)
foreground = {{ colour_palette.foreground }}

{% for colours in colour_palette.palettes %}
# {{ colours.colour }}
{% for palette in colours.palette %}
{{ palette.name }} = {{ palette.colour }}
{% endfor %}

{% endfor %}
