#!/bin/sh

userresources={{ xorg_conf_dir }}/xresources
usermodmap={{ xorg_conf_dir }}/.Xmodmap
sysresources=/etc/X11/xinit/.Xresources
sysmodmap=/etc/X11/xinit/.Xmodmap

# merge in defaults and keymaps

if [ -f $sysresources ]; then
    xrdb -merge "${sysresources}"
fi

if [ -f $sysmodmap ]; then
    xmodmap "${sysmodmap}"
fi

if [ -f "$userresources" ]; then
    xrdb -merge "${userresources}"
fi

if [ -f "$usermodmap" ]; then
    xmodmap "${usermodmap}"
fi

# start some nice programs

# if [ -d /etc/X11/xinit/xinitrc.d ] ; then
#     for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
#         [ -x "$f" ] && . "$f"
#     done
#     unset f
# fi

{% if input_method is defined %}
{% if input_method == "fcitx" %}
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
fcitx &
{% elif input_method == "ibus" %}
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
ibus-daemon -drx
{% endif %}
{% endif %}

setxkbmap -layout gb &
xsetroot -cursor_name left_ptr
exec bspwm
