# Setup the bind key
bind-key C-b send-prefix

# Stop tmux from auto-renaming when changing directory
set-option -g allow-rename off

# Use Alt-arrow keys to switch panes
bind -n M-h select-pane -L
bind -n M-l select-pane -R
bind -n M-k select-pane -U
bind -n M-j select-pane -D

# Shift arrow to switch windows
bind -n S-Left previous-window
bind -n S-Right next-window

# Mouse mode
# setw -g mouse on

# Set easier window split keys
bind-key v split-window -h
bind-key h split-window -v

# Easy config reload
bind-key r source-file {{ tmuxdotdir }}/.tmux.conf \; display-message "{{ tmuxdotdir }}/.tmux.conf reloaded."


# PLUGINS... LEAVE THIS TILL THE END
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'

run -b '{{ tmuxdotdir }}/plugins/tpm/tpm'
